@media (max-width: 576px) {
    .hero-box h1 {
      font-size: 2rem;
    }
    .hero-box p {
      font-size: 1rem;
    }
    .card-body h5 {
      font-size: 1rem;
    }
    .card-body p {
      font-size: 0.9rem;
    }
  }

/* Responsive Adjustments */
@media (max-width: 768px) {
  .hero-box h1 {
    font-size: 2.2rem;
  }

  .hero-box p {
    font-size: 1rem;
  }

  #about-section p {
    font-size: 1rem;
  }

  .card-body h5 {
    font-size: 1rem;
  }

  .card-body p {
    font-size: 0.95rem;
  }

  .product-card img {
    height: 240px;
  }
}